repos:
#####
# Basic file cleanliness
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
      exclude: ^inst/extdata
    - id: check-yaml
    - id: check-toml
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace
