name: "Lint R Code With JARL"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: etiennebacher/setup-jarl@v0.2.1
        with:
          args: check . --fix --output-format github
