name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v5
    - uses: r-lib/actions/setup-r@v2
      with:
        use-public-rspm: true
    - uses: actions/cache@v4
      with:
        path: "~/.cache/R/renv"
        key: r-precommit-cache|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v3.0.1
      with:
        extra_args: --all-files
